<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using  3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<!--  
<web- xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" ="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>org.glassfish.jersey.archetypes.jersey.quickstart.webapp</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/beflow/*</url-pattern>
  </servlet-mapping>
  
  
 	<servlet>
  		<servlet-name>Servlet2</servlet-name>
   		<servlet-class>rrdtool.Servlet2</servlet-class>
   		<load-on-startup>2</load-on-startup>
	</servlet>

</web-app>